<div class="mx-auto">      
    <app-custom-table
      [columns]="columns"
      [dataSource]="patients"
      [totalItems]="totalItems"
      [pageSize]="paginationParams.pageSize"
      (pageChange)="onPageChange($event)"
      [title]="title"
      [clickEvent]="openCreateDialog.bind(this)"
      [actions]="actions"     
      (sortChange)="onSortChange($event)" 
      [defaultSortField]="defaultSortField"
      [defaultSortDirection]="defaultSortDirection"
      [enableSearch]="true"
      [searchPlaceholder]="'Search first name or last name'"
      (filterChange)="onSearchChange($event)"
      >
    </app-custom-table>
  </div>
