<div class="flex mt-32 gap-6 mx-10 rounded-lg">
  <div [ngClass]="stepper.selectedIndex === 4 ? 'w-full' : 'w-1/2'">
    <mat-stepper [linear]="true" #stepper class="border shadow-sm rounded-lg">

      <mat-step label="Select Patient" [completed]="completionStatus().patientComplete">
        <app-patient-log-patient [patientSearchControl]="patientSearchControl" [filteredPatients]="filteredPatients$"
          [selectedPatient]="selectedPatient" (patientSelected)="selectPatient($event)">
        </app-patient-log-patient>
        <div class="flex justify-between mt-6">
          <button class="z-0" routerLink="/patient-logs" mat-stroked-button>Cancel</button>
          <button [disabled]="!completionStatus().patientComplete" matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>

      <mat-step label="Select Dentist" [completed]="completionStatus().patientComplete">
        <app-patient-log-dentist [dentists]="dentists" [selectedDentist]="selectedDentist" (dentistSelected)="selectDentist($event)"></app-patient-log-dentist>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button [disabled]="!completionStatus().patientComplete" matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>

      <mat-step label="Procedure" [completed]="completionStatus().procedureComplete">
        <app-patient-log-procedure [procedures]="procedures" [selectedProcedures]="selectedProcedures"
          (selectedProceduresChange)="selectedProcedures = $event" (procedureChange)="handleProcedureChange($event)">
        </app-patient-log-procedure>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button [disabled]="!completionStatus().procedureComplete" matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>

      <mat-step label="Payment" [completed]="completionStatus().paymentComplete">
        <app-payment-form [selectedPatient]="selectedPatient" [selectedProcedures]="selectedProcedures"
          [(amountPaid)]="amountPaid" [(paymentMethod)]="paymentMethod" (paymentValid)="handlePaymentChange($event)">
        </app-payment-form>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button [disabled]="!completionStatus().paymentComplete" matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>

      <mat-step label="Confirmation">
        <app-patient-log-confirmation [selectedPatient]="selectedPatient" [selectedDentist]="selectedDentist" [selectedProcedures]="selectedProcedures"
          [amountPaid]="amountPaid" [paymentMethod]="paymentMethod" [(notes)]="notes">
        </app-patient-log-confirmation>

        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button [disabled]="!selectedPatient || selectedProcedures.length === 0" (click)="createPatientLog(stepper)"
            mat-flat-button>
            Confirm and Submit
          </button>
        </div>
      </mat-step>

    </mat-stepper>
  </div>

  <div class="w-1/2" *ngIf="stepper.selectedIndex !== 4">
    <app-patient-log-summary [selectedPatient]="selectedPatient" [selectedDentist]="selectedDentist" [selectedProcedures]="selectedProcedures" 
      [amountPaid]="amountPaid" [paymentMethod]="paymentMethod">
    </app-patient-log-summary>
  </div>
</div>