<h1 class="text-2xl font-semibold py-4">Payment</h1>
<h1 class="text-xl font-semibold">Total Amount Due: {{getTotalFee()}}</h1>
<h1 class="text-xl font-semibold">Balance: {{getBalance()}}</h1>

<mat-form-field appearance="fill" class="w-full mt-4">
  <mat-label>Amount Paid</mat-label>
  <input
    matInput
    type="number"
    min="0"
    [max]="getTotalFee()"
    [value]="getTotalFee"
    [ngModel]="amountPaid"
    required
    (ngModelChange)="onAmountChange($event)"
  />
</mat-form-field>

<div *ngIf="amountExceedsTotal" class="text-red-600 text-sm mt-1">
  Amount paid cannot exceed total due ({{ getTotalFee() }}).
</div>

<mat-form-field appearance="fill" class="w-full mt-4">
  <mat-label>Payment Method</mat-label>
  <mat-select
    [ngModel]="paymentMethod"
    (ngModelChange)="onpaymentMethodChange($event)"
    required
  >
    <mat-option value="" disabled>Select a payment method</mat-option>
    <mat-option value="Cash">Cash</mat-option>
    <mat-option value="GCash">GCash</mat-option>
  </mat-select>
</mat-form-field>