<div class="mx-auto">      
    <app-custom-table
      [columns]="columns"
      [dataSource]="procedures"
      [totalItems]="totalItems"
      [pageSize]="paginationParams.pageSize"
      (pageChange)="onPageChange($event)"
      [title]="title"
      [clickEvent]="openCreateDialog.bind(this)"
      [actions]="actions"
      (sortChange)="onSortChange($event)"
      [defaultSortField]="defaultSortField"
      [defaultSortDirection]="defaultSortDirection"
      >
    </app-custom-table>
  </div>
  