<header class="border-b shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-white">
    <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
        <img src="images/cliniclogo.jpg" alt="Clinic Logo" class="h-10" routerLink="/" />
        <nav class="navbar">
            <ul class="flex space-x-6">
                <li><a [routerLink]="'/patient-logs'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                        class="hover:text-gray-300 text-2xl">Logs</a></li>
                <li><a routerLink="/patients" routerLinkActive="active"
                        class="hover:text-gray-300 text-2xl">Patients</a></li>
                <li><a routerLink="/dentists" routerLinkActive="active"
                        class="hover:text-gray-300 text-2xl">Dentists</a></li>
                <li><a routerLink="/procedures" routerLinkActive="active"
                        class="hover:text-gray-300 text-2xl">Procedures</a></li>
                
                <li><a routerLink="/payments" routerLinkActive="active" class="hover:text-gray-300 text-2xl">Payments</a>
            </ul>
        </nav>
    </div>
</header>