<header class="shadow-lg p-3 w-full max-h-20 fixed top-0 z-50 bg-white text-stone-800 border-b border-black">
        <div class="flex align-middle items-center justify-between mx-5">
            <img src="images/cliniclogo-2.png" alt="Clinic Logo" class="h-12" routerLink="/" />
            <nav class="navbar">
                <ul class="flex space-x-6 items-center">
                    @if (accountService.currentUser()){
                    <li><a [routerLink]="'/patient-logs'" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}"
                            class="hover:text-gray-300 text-2xl">Logs</a></li>
                    <li><a routerLink="/patients" routerLinkActive="active"
                            class="hover:text-gray-300 text-2xl">Patients</a></li>
                    <li><a routerLink="/dentists" routerLinkActive="active"
                            class="hover:text-gray-300 text-2xl">Dentists</a></li>
                    <li><a routerLink="/procedures" routerLinkActive="active"
                            class="hover:text-gray-300 text-2xl">Procedures</a></li>
                    <li><a routerLink="/payments" routerLinkActive="active"
                            class="hover:text-gray-300 text-2xl">Payments</a>
                    <li><a routerLink="/reports" routerLinkActive="active"
                            class="hover:text-gray-300 text-2xl">Reports</a>
                    <li>
                        <button mat-menu-item (click)="logout()" class="hover:text-gray-300 p-0 m-0">
                            <mat-icon class="align-middle">logout</mat-icon>
                        </button>
                    </li>
                    } @else {
                    <li><a routerLink="/account/login" routerLinkActive="active"
                            class="hover:text-gray-300 text-2xl">Login</a> }
                </ul>
            </nav>
        </div>
    </header>