<div class="mx-auto">
  <app-custom-table 
  [columns]="columns" 
  [dataSource]="logs" 
  [totalItems]="totalItems"
  [pageSize]="paginationParams.pageSize" 
  (pageChange)="onPageChange($event)" 
  [actions]="actions" 
  [title]="title"
  (sortChange)="onSortChange($event)"
  [defaultSortField]="defaultSortField"
  [defaultSortDirection]="defaultSortDirection"
  [filter]="paginationParams.filter"
  (filterChange)="onFilterChange($event)"
  [clickEvent]="openCreateNewForm.bind(this)"
  [enableFiltering]="true"
  (filterDialogTriggered)="openPaymentFiltersDialog()"
  ></app-custom-table>
</div>