<h1 class="text-2xl font-semibold py-4">Select Patient</h1>
<mat-form-field appearance="outline" class="w-full bg-white">
    <input type="text"
           matInput
           [formControl]="patientSearchControl"
           [matAutocomplete]="auto"
           placeholder="Search Patient by First Name Or Last Name">
    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="displayPatient"
                      (optionSelected)="selectPatient($event.option.value)">
      <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
        {{ patient.firstName }} {{ patient.lastName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  