<h2 mat-dialog-title class="text-center">{{data.title}}</h2>
<mat-dialog-content class="p-2">
    <form [formGroup]="patientForm" class="p-4 w-full" (ngSubmit)="onSubmit()">
        <app-text-input label="First Name" formControlName="firstName" />
        <app-text-input label="Last Name" formControlName="lastName" />
        <div class="flex justify-between w-full gap-3">
            <app-select-input label="Sex" formControlName="gender" [options]="genders" class="w-full" />
            <app-text-input label="Age" formControlName="age" type="number" />
        </div>
        <app-text-input label="Address (Optional)" formControlName="address" />
        <app-text-input label="Phone (Optional)" formControlName="phone" />
        <app-text-input label="Email (Optional)" formControlName="email" />
        <div class="flex justify-end gap-3">
            <button mat-button color="warn" type="button" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="patientForm.invalid">
                Submit
            </button>
        </div>

    </form>
</mat-dialog-content>